.section-wrapper {
  display: flex;
  height: 100%;

  &__left {
    display: flex;
    flex: 0 0 40%;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(40deg, $soft-blue -150%, $dark-blue 150%);
  }

  &__right {
    flex: 80%;
  }
}
