.card {
  background: #fff;
  padding: 25px;
  margin: 50px 0;
  max-width: 400px;
  width: 95%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway';

  &__icon {
    height: 15px;
  }

  &__text {
    margin: 15px 0;
    line-height: 2;
  }

  &__footer {
    display: flex;
    align-items: center;

    &-text {
      span {
        display: block;
      }

      &--bold {
        font-weight: bold;
      }

      &--small {
        font-size: 0.9em;
      }
    }
  }

  &__avatar-wrapper {
    margin-right: 10px;
  }

  &__avatar {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
