.nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';

  @include mq(small) {
    padding: 25px;
  }

  &__logo {
    @include mq(small) {
      height: 35px;
    }
  }

  &__menu {
    list-style: none;

    &-item {
      display: inline-block;
      padding-right: 45px;

      @include mq(small) {
        padding-right: 15px;
      }

      &:last-child {
        padding: 0;
      }
    }
  }
}
