:root {
  --radius: 5px;
  --pink: hsl(322, 100%, 66%);
  --darkpink: hsl(322, 100%, 60%);
  --grayblue: hsl(208, 11%, 55%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  text-align: center;
  margin: 0 auto 200px auto;
  padding: 0 50px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.7em;
  margin: 25px 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  margin: 5px 0;
}

button.large {
  padding: 25px 65px;
  margin: 25px 0;
  background: linear-gradient(to bottom right, var(--pink), var(--darkpink));
  color: #fff;
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  font-size: 1.05rem;
}

/* ==========nav========= */
nav {
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

nav button {
  padding: 10px 25px;
  align-self: center;
  background: none;
  border: 1px solid var(--pink);
  border-radius: var(--radius);
  color: var(--pink);
}

/* ==========hero========= */
#hero p {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  font-size: 1.2em;
  line-height: 1.9;
  color: var(--grayblue);
}

#hero #mockups {
  display: block;
  margin: 50px auto 0px auto;
  max-width: 800px;
  width: 95%;
}

/* ==========info========= */
#info {
  max-width: 1200px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info p {
  color: var(--grayblue);
  line-height: 1.7;
  padding: 5px 0 15px 0;
}

#info #info-text {
  flex: 0 0 45%;
}

#info figure {
  flex: 0 0 50%;
}

#info #users {
  width: 100%;
}

/* ==========sign up========= */
#sign-up input {
  margin: 25px 10px;
  padding: 20px;
  border-radius: 5px;
}

input.email {
  width: 500px;
  border: 1px solid #ccc;
}

input.btn {
  background: hsl(322, 100%, 66%);
  color: white;
  width: 175px;
  border: none;
}

/* ==========footer========= */
footer {
  padding: 50px;
  background: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer p {
  padding: 20px 0;
  width: 250px;
}

footer > div {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 auto;
  align-items: center;
}

footer > div > * {
  align-self: stretch;
}

footer #input-wrapper {
  display: flex;
}

footer #input-wrapper > * {
  margin: 20px 0;
  padding: 15px;
  border: none;
}

footer #input-wrapper button {
  background: var(--pink);
  color: #fff;
}

footer .fab {
  font-size: 1.5em;
  padding-right: 15px;
}

footer path {
  fill: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: block;
  margin-bottom: 15px;
}

/* ==========media queries========= */
@media only screen and (max-width: 875px) {
  #info {
    flex-direction: column;
  }
  #info #info-text {
    order: 2;
  }

  #info figure {
    order: 1;
  }
  #sign-up input {
    margin: 25px auto;
    display: block;
    max-width: 500px;
    width: 95%;
  }
  footer {
    height: auto;
    flex-flow: column wrap;
  }
  footer > div {
    align-content: flex-start;
    flex-flow: column nowrap;
  }
  footer #right {
    text-align: left;
  }
  footer #social {
    margin: 25px 0;
  }
  footer #copyright {
    text-align: center;
  }
  footer ul li {
    display: block;
    padding: 10px 0;
  }
}
