body {
  font-family: 'Open Sans'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.button {
  padding: 15px 45px;
  border: 2px solid #3065f8; }
  @media (max-width: 667px) {
    .button {
      display: block;
      width: 90%;
      margin: 0 auto; } }
  .button--bright-blue {
    background: #3065f8;
    color: #fff; }

.nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway'; }
  @media (max-width: 667px) {
    .nav {
      padding: 25px; } }
  @media (max-width: 667px) {
    .nav__logo {
      height: 35px; } }
  .nav__menu {
    list-style: none; }
    .nav__menu-item {
      display: inline-block;
      padding-right: 45px; }
      @media (max-width: 667px) {
        .nav__menu-item {
          padding-right: 15px; } }
      .nav__menu-item:last-child {
        padding: 0; }

.input {
  padding: 15px;
  width: 300px;
  font-family: 'Raleway'; }
  @media (max-width: 975px) {
    .input {
      display: block;
      margin: 15px auto; } }
  @media (max-width: 667px) {
    .input {
      display: block;
      width: 90%; } }

.heading {
  line-height: 1.3;
  font-family: 'Raleway'; }
  .heading--primary {
    font-size: 2.3em; }
    @media (max-width: 667px) {
      .heading--primary {
        font-size: 1.7em; } }
  .heading--secondary {
    font-size: 2em; }
    @media (max-width: 667px) {
      .heading--secondary {
        font-size: 1.3em; } }

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 55px; }
  @media (max-width: 975px) {
    .hero {
      flex-direction: column; } }
  @media (max-width: 667px) {
    .hero {
      padding: 45px 25px; } }
  .hero__text {
    flex: 0 0 45%; }
    @media (max-width: 975px) {
      .hero__text {
        order: 2;
        text-align: center; } }
  .hero__sub-heading {
    padding: 30px 0;
    font-size: 1.2em;
    line-height: 1.5; }
  .hero__image-wrapper {
    flex: 0 0 45%; }
    @media (max-width: 975px) {
      .hero__image-wrapper {
        order: 1;
        max-width: 400px;
        width: 90%;
        margin-bottom: 100px; } }
  .hero__image {
    width: 100%; }

.about {
  position: relative;
  padding: 75px 55px;
  display: flex;
  align-items: center;
  background-color: #f7f7fd;
  margin-top: 200px; }
  @media (max-width: 975px) {
    .about {
      flex-direction: column; } }
  @media (max-width: 667px) {
    .about {
      padding: 45px 25px; } }
  .about:before {
    content: '';
    position: absolute;
    display: block;
    top: -100px;
    left: 0;
    height: 114px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/bg-curve-desktop.svg"); }
    @media (max-width: 667px) {
      .about:before {
        background-image: url("../images/bg-curve-mobile.svg");
        background-position: center;
        background-size: 150% 100%; } }
  .about__text {
    flex: 0 0 55%; }
    @media (max-width: 975px) {
      .about__text {
        order: 2; } }
  .about__para {
    font-size: 1.1em;
    margin: 25px 0;
    width: 80%;
    font-family: 'Raleway';
    line-height: 1.5; }
    @media (max-width: 667px) {
      .about__para {
        width: 100%; } }
  .about__image-wrapper {
    flex: 0 0 45%; }
    @media (max-width: 975px) {
      .about__image-wrapper {
        order: 1;
        flex-basis: 90%;
        margin-bottom: 100px; } }
  .about__image {
    width: 100%; }
  .about__link {
    display: inline-flex;
    flex-flow: row wrap;
    flex-grow: 0;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    color: #3c9f8f;
    font-size: 1.1em;
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid #3c9f8f; }
    .about__link-image {
      display: inline-block;
      height: 23px;
      padding: 0 3px; }
  .about .card {
    background: #fff;
    padding: 25px;
    margin: 50px 0;
    max-width: 400px;
    width: 95%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway'; }
    .about .card__icon {
      height: 15px; }
    .about .card__text {
      margin: 15px 0;
      line-height: 2; }
    .about .card__footer {
      display: flex;
      align-items: center; }
      .about .card__footer-text span {
        display: block; }
      .about .card__footer-text--bold {
        font-weight: bold; }
      .about .card__footer-text--small {
        font-size: 0.9em; }
    .about .card__avatar-wrapper {
      margin-right: 10px; }
    .about .card__avatar {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%; }

.signup {
  display: flex;
  align-items: center;
  padding: 75px 55px;
  background: #585989;
  color: #fff;
  justify-content: space-between; }
  @media (max-width: 975px) {
    .signup {
      flex-direction: column;
      text-align: center; } }
  @media (max-width: 667px) {
    .signup {
      padding: 45px 25px; } }
  .signup__text {
    flex: 0 0 40%; }
    @media (max-width: 667px) {
      .signup__text {
        flex: 0 0 100%; } }
    .signup__text-para {
      font-size: 1.1em;
      margin: 25px 0;
      margin-bottom: 0; }
      @media (max-width: 975px) {
        .signup__text-para {
          font-size: 1.1em;
          margin: 25px 0; } }
  @media (max-width: 975px) {
    .signup__form {
      width: 100%; } }

.footer {
  background: #070439;
  color: #fff;
  padding: 75px 55px;
  display: flex; }
  @media (max-width: 975px) {
    .footer {
      flex-direction: column; } }
  .footer__col {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 0 25%; }
    @media (max-width: 975px) {
      .footer__col {
        align-items: flex-start;
        margin-bottom: 20px; } }
  .footer__logo {
    margin-bottom: 20px;
    align-self: flex-start; }
    .footer__logo path {
      fill: #fff; }
  .footer__link {
    list-style: none;
    margin-bottom: 15px; }
  .footer__para {
    align-self: flex-start;
    margin-bottom: 15px;
    display: flex;
    align-items: center; }
    .footer__para-icon {
      margin-right: 15px;
      width: 15px; }
  @media (max-width: 975px) {
    .footer__social-wrapper {
      margin: 25px auto 0 auto; } }
  .footer__icon-wrapper {
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 10px; }
