.about {
  position: relative;
  padding: $section-padding;
  display: flex;
  align-items: center;
  background-color: $gray-blue;
  margin-top: 200px;

  @include mq(medium) {
    flex-direction: column;
  }
  @include mq(small) {
    padding: $section-padding-small;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -100px;
    left: 0;
    height: 114px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../images/bg-curve-desktop.svg');

    @include mq(small) {
      background-image: url('../images/bg-curve-mobile.svg');
      background-position: center;
      background-size: 150% 100%;
    }
  }

  &__text {
    flex: 0 0 55%;

    @include mq(medium) {
      order: 2;
    }
  }

  &__para {
    @include paraStyles();
    width: 80%;

    font-family: 'Raleway';
    line-height: 1.5;

    @include mq(small) {
      width: 100%;
    }
  }

  &__image-wrapper {
    flex: 0 0 45%;

    @include mq(medium) {
      order: 1;
      flex-basis: 90%;
      margin-bottom: 100px;
    }
  }

  &__image {
    width: 100%;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $cyan;
    font-size: 1.1em;
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid $cyan;

    &-image {
      display: inline-block;
      height: 23px;
      padding: 0 3px;
    }
  }

  .card {
    background: #fff;
    padding: 25px;
    margin: 50px 0;
    max-width: 400px;
    width: 95%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway';

    &__icon {
      height: 15px;
    }

    &__text {
      margin: 15px 0;
      line-height: 2;
    }

    &__footer {
      display: flex;
      align-items: center;

      &-text {
        span {
          display: block;
        }

        &--bold {
          font-weight: bold;
        }

        &--small {
          font-size: 0.9em;
        }
      }
    }

    &__avatar-wrapper {
      margin-right: 10px;
    }

    &__avatar {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}
