.signup {
  display: flex;
  align-items: center;
  padding: $section-padding;
  background: $desaturated-blue;
  color: #fff;
  justify-content: space-between;

  @include mq(medium) {
    flex-direction: column;
    text-align: center;
  }
  @include mq(small) {
    padding: $section-padding-small;
  }

  &__text {
    flex: 0 0 40%;

    @include mq(small) {
      flex: 0 0 100%;
    }

    &-para {
      @include paraStyles();
      margin-bottom: 0;

      @include mq(medium) {
        @include paraStyles();
      }
    }
  }

  &__form {
    @include mq(medium) {
      width: 100%;
    }
  }
}
