// Colors ================================

// Primary
$soft-blue: hsl(243, 86%, 85%);
$dark-blue: hsl(243, 87%, 12%);

// Accent
$green: hsl(163, 95%, 43%);

// Neutral
$gray: hsl(0, 0%, 50%);

// Padding/Margin ================================

$section-padding-lg: 50px;
$width: 85%;

// Fonts ================================
$heading-font: 'Raleway', sans-serif;
