.form {
  padding: $section-padding;
  padding-top: 0;

  &__heading {
    margin-bottom: 20px;
  }

  &__input {
    @include form-elements();
    border: 1px solid #eee;
    padding: 15px;
  }

  &__button {
    @include form-elements();
    padding: 15px 45px;
    background: $green;
    color: #fff;
    border: 1px solid $green;
  }
}
