.form {
  padding-top: 0;

  &__heading {
    margin-bottom: 20px;
    @include heading($heading-font);
    font-size: 1.3em;
  }

  &__input-wrapper {
    display: flex;
    width: $width;

    @include mq(medium) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__input {
    @include form-elements();
    border: 1px solid #c9c9c9;
    padding: 15px;
    flex-grow: 1;

    @include mq(medium) {
      margin-bottom: 20px;
    }
  }

  &__button {
    @include form-elements();
    padding: 15px 45px;
    background: $green;
    color: #fff;
    border: 1px solid $green;

    @include mq(medium) {
      align-self: flex-start;
    }
  }
}
