.text-block {
  padding: $section-padding;
  width: $width;
  line-height: 1.3;

  &__heading {
    margin: 20px 0;
    font-size: 2em;
    @include heading($heading-font);
  }

  &__sub-heading {
    font-size: 1.2em;
    color: $gray;
  }
}
